.text {
    font-size: 4em;
    position: relative;
    display: inline-block;
    padding: 1em;
  }
  
  .text::before {
    content: '';
    position: absolute;
    top: 0.75em;
    left: calc(100% - 1.5em);
    width: 1em;
    height: 1em;
   
    background-size: contain;
    z-index: -1;
   
    background-color: orange;
    border-radius: 50%;
  }