nav {
  background-color:whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  height: 2px;
  width: 25px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s;
}

.menu.open .menu-icon span:first-child {
  transform: rotate(45deg) translate(3px, 4px);
}

.menu.open .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu.open .menu-icon span:last-child {
  transform: rotate(-45deg) translate(3px, -4px);
}

.menu {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

li {
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .menu li {
    margin: 10px 0;
  }
}
